# Challenge 1
## Data Viz Challenge (Unlocked by Z)

Our characters have a collection of world's data from various countries affecting the global greenhouse effect and they want to understand the pattern that all the factors such as 'Energy Emissions', 'Land Coverage', 'Waste Disposal', 'Forest Fires', and 'Rising Carbon Footprint' have affected the world in a certain way. The task for this tutorial to visualize the data recorded across the world over the years and extrapolate some information to present to people.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df_temp = pd.read_csv('Datasets/temperature_change_data_11-29-2021.csv')

In [4]:
df_temp.head(10)

,Domain Code,Domain,Area Code (ISO3),Area,Element Code,Element,Months Code,Months,Year Code,Year,Unit,Value,Flag,Flag Description
0,ET,Temperature change,AFG,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,1961,1961,°C,-0.751,Fc,Calculated data
1,ET,Temperature change,AFG,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,1962,1962,°C,0.985,Fc,Calculated data
2,ET,Temperature change,AFG,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,1963,1963,°C,1.931,Fc,Calculated data
3,ET,Temperature change,AFG,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,1964,1964,°C,-2.056,Fc,Calculated data
4,ET,Temperature change,AFG,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,1965,1965,°C,-0.669,Fc,Calculated data
5,ET,Temperature change,AFG,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,1966,1966,°C,1.969,Fc,Calculated data
6,ET,Temperature change,AFG,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,1967,1967,°C,-0.499,Fc,Calculated data
7,ET,Temperature change,AFG,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,1968,1968,°C,-0.675,Fc,Calculated data
8,ET,Temperature change,AFG,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,1969,1969,°C,-1.792,Fc,Calculated data
9,ET,Temperature change,AFG,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,1970,1970,°C,1.534,Fc,Calculated data

In [5]:
df_temp.describe()

       Element Code   Months Code     Year Code          Year         Value
count       67625.0  67625.000000  67625.000000  67625.000000  65331.000000
mean         7271.0   7018.000000   1991.306248   1991.306248      0.491524
std             0.0      1.414224     17.333343     17.333343      0.820116
min          7271.0   7016.000000   1961.000000   1961.000000     -5.979000
25%          7271.0   7017.000000   1976.000000   1976.000000     -0.011000
50%          7271.0   7018.000000   1992.000000   1992.000000      0.410000
75%          7271.0   7019.000000   2006.000000   2006.000000      0.932000
max          7271.0   7020.000000   2020.000000   2020.000000      8.206000

In [6]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67625 entries, 0 to 67624
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       67625 non-null  object
 1   Domain            67625 non-null  object
 2   Area Code (ISO3)  67625 non-null  object
 3   Area              67625 non-null  object
 4   Element Code      67625 non-null  int64
 5   Element           67625 non-null  object
 6   Months Code       67625 non-null  int64
 7   Months            67625 non-null  object
 8   Year Code         67625 non-null  int64
 9   Year              67625 non-null  int64
 10  Unit              67625 non-null  object
 11  Value             65331 non-null  float64
 12  Flag              67625 non-null  object
 13  Flag Description  67625 non-null  object
dtypes: float64(1), int64(4), object(9)
memory usage: 7.2+ MB

In [7]:
df_temp['Area'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belgium-Luxembourg', 'Belize', 'Benin',
       'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'China, Hong Kong SAR',
       'China, Macao SAR', 'China, mainland', 'China, Taiwan Province of',
       'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Czechoslovakia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR',
       'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Guyana', 'French Polynesia',
       'French Southern Territories', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (Federated States of)',
       'Midway Island', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles (former)', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'Norfolk Island', 'North Macedonia', 'Norway', 'Oman',
       'Pacific Islands Trust Territory', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Réunion',
       'Romania', 'Russian Federation', 'Rwanda',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Serbia and Montenegro', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa',
       'South Georgia and the South Sandwich Islands', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Sudan (former)', 'Suriname',
       'Svalbard and Jan Mayen Islands', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'USSR', 'Uzbekistan',
       'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wake Island', 'Wallis and Futuna Islands', 'Western Sahara',
       'Yemen', 'Yugoslav SFR', 'Zambia', 'Zimbabwe'], dtype=object)

In [8]:
df_temp['Area'].value_counts()

Area
Afghanistan              300
Norfolk Island           300
Namibia                  300
Nauru                    300
Nepal                    300
                        ...
Montenegro                75
Serbia                    75
Serbia and Montenegro     70
Sudan                     50
South Sudan               50
Name: count, Length: 247, dtype: int64

In [9]:
df_temp['Year'].unique()

array([1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020], dtype=int64)

In [10]:
df_temp['Year'].value_counts()

Year
2011    1200
2020    1195
2019    1195
2018    1195
2017    1195
2016    1195
2015    1195
2014    1195
2013    1195
2012    1195
2008    1190
2006    1190
2007    1190
2009    1190
2010    1190
2005    1185
2004    1185
2003    1185
2002    1185
2001    1185
2000    1185
1999    1180
1998    1180
1997    1180
1996    1180
1995    1180
1994    1180
1993    1180
1992    1170
1991    1080
1962    1070
1990    1070
1963    1070
1964    1070
1965    1070
1966    1070
1967    1070
1968    1070
1969    1070
1970    1070
1971    1070
1972    1070
1973    1070
1974    1070
1975    1070
1976    1070
1977    1070
1978    1070
1979    1070
1980    1070
1981    1070
1982    1070
1983    1070
1984    1070
1985    1070
1986    1070
1987    1070
1988    1070
1989    1070
1961    1070
Name: count, dtype: int64

In [11]:
df_temp['Months'].unique()

array(['Dec–Jan–Feb', 'Mar–Apr–May', 'Jun–Jul–Aug', 'Sep–Oct–Nov',
       'Meteorological year'], dtype=object)

In [12]:
df_temp.isnull().sum()

Domain Code            0
Domain                 0
Area Code (ISO3)       0
Area                   0
Element Code           0
Element                0
Months Code            0
Months                 0
Year Code              0
Year                   0
Unit                   0
Value               2294
Flag                   0
Flag Description       0
dtype: int64

In [15]:
null_value = (df_temp['Value'].isnull().sum().sum())/df_temp.shape[0]*100
null_value

3.392236598890943